*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #121a23;
}
body .container{
    display: flex;
    flex-direction: column;
    margin-left: 400px;
    margin-top: 30px;
    width: 575px;
    height: 500px;
}

body .container .user1, .user2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
}
body .container .user_info{
    display: flex;

}
body .container .user1 img, .user2 img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border: 2px solid  #bfc4cb;
    border-radius: 10px;
}

body .container .sub_info{
    display: grid;
    margin-left: 10px;
}
body .container .name_elo{
    display: flex;
    align-items: center;
    gap: 10px;
}
body .container .name_elo h4{
    color: white;
}
body .container .name_elo h5{
    color: #a7a7a7;
}
body .container .rank h4{
    color: #bfc4cb;
    font-size: 13px;
}

body .container .user1 .time,.user2 .time{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 45px;
    border: 2px solid  #bfc4cb;
    color: white;
    border-radius: 10px;
}

body .board{
    width: 100%;
    flex: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
body .board .square{
    width: 100%;
    aspect-ratio: 1;
    position: relative;
}
body .board .square h3{
    display: flex;
    margin-left: 55px;
    margin-top: 47px;
    position: absolute;
}
body .board .square p{
    position: absolute;
    margin-left: 3px;
    margin-top: 3px;
    font-size: 18px;
    font-weight: bold;
}